<?xml version="1.0" encoding="utf-8"?>
<ConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Applications>
    <ApplicationModel>
      <Name>DbDelivery</Name>
      <Environments>
        <EnvironmentModel>
          <Name>test</Name>
          <BaseSettings>
            <CommandSettingModel>
              <Name>ProviderName</Name>
              <Value>System.Data.SqlClient</Value>
            </CommandSettingModel>
            <CommandSettingModel>
              <Name>ConnectionString</Name>
              <Value>Data Source=127.0.0.1,1401;Initial Catalog=DbDelivery_Test;Persist Security Info=True;User ID=sa;Password=Password123!#*</Value>
            </CommandSettingModel>
            <CommandSettingModel>
              <Name>TablePrefix</Name>
              <Value></Value>
            </CommandSettingModel>
            <CommandSettingModel>
              <Name>TempScriptDirectory</Name>
              <Value>ScriptCollect</Value>
            </CommandSettingModel>
          </BaseSettings>
          <Commands>
            <CommandModel>
              <PluginType>MakeBackup</PluginType>
              <Settings>
                <CommandSettingModel>
                  <Name>BackupDirectory</Name>
                  <Value>D:\MSSQL\BACKUP\</Value>
                </CommandSettingModel>
              </Settings>
            </CommandModel>
            <CommandModel>
              <PluginType>InitDatabase</PluginType>
              <Settings>
              </Settings>
            </CommandModel>
            <CommandModel>
              <PluginType>CollectScripts</PluginType>
              <Settings>
                <CommandSettingModel>
                  <Name>RootDirectory</Name>
                  <Value>./src</Value>
                </CommandSettingModel>
                <CommandSettingModel>
                  <Name>LeafDirectory</Name>
                  <Value></Value>
                </CommandSettingModel>
                <CommandSettingModel>
                  <Name>SourceDirectories</Name>
                  <Value>init</Value>
                </CommandSettingModel>
              </Settings>
            </CommandModel>
            <CommandModel>
              <PluginType>BuildScript</PluginType>
              <Settings>
                <CommandSettingModel>
                  <Name>ActualScriptFileName</Name>
                  <Value>log/NotAppliedScripts.txt</Value>
                </CommandSettingModel>
              </Settings>
            </CommandModel>
            <CommandModel>
              <PluginType>ApplyScript</PluginType>
              <Settings>
              </Settings>
            </CommandModel>
          </Commands>
        </EnvironmentModel>
      </Environments>
    </ApplicationModel>
  </Applications>
</ConfigModel>