<?xml version="1.0" encoding="utf-8"?>
<ConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Applications>
    <ApplicationModel name="DbDelivery">
      <Environments>
        <EnvironmentModel name="test">
          <BaseSettings>
            <CommandSettingModel name="ProviderName" value="System.Data.SqlClient" />
            <CommandSettingModel name="ConnectionString" value="Data Source=127.0.0.1,1401;Initial Catalog=DbDelivery_Test;Persist Security Info=True;User ID=sa;Password=Password123!#*" />
            <CommandSettingModel name="TablePrefix" value="" />
            <CommandSettingModel name="TempScriptDirectory" value="ScriptCollect" />
            <!--<CommandSettingModel name="CommandTimeout" value="60" />-->
          </BaseSettings>
          <Commands>
            <CommandModel pluginType="MakeBackup">
              <Settings>
                <CommandSettingModel name="BackupDirectory" value="D:\MSSQL\BACKUP\" />
                <CommandSettingModel name="CommandTimeout" value="120" />
              </Settings>
            </CommandModel>
            <CommandModel pluginType="InitDatabase">
              <Settings />
            </CommandModel>
            <CommandModel pluginType="CollectScripts">
              <Settings>
                <CommandSettingModel name="RootDirectory" value="./src" />
                <CommandSettingModel name="LeafDirectory" value="" />
                <CommandSettingModel name="SourceDirectories" value="init" />
              </Settings>
            </CommandModel>
            <CommandModel pluginType="BuildScript">
              <Settings>
                <CommandSettingModel name="ActualScriptFileName" value="log/NotAppliedScripts.txt" />
              </Settings>
            </CommandModel>
            <CommandModel pluginType="ApplyScript">
              <Settings />
            </CommandModel>
          </Commands>
        </EnvironmentModel>
      </Environments>
    </ApplicationModel>
  </Applications>
</ConfigModel>